[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
	branch = e7085199f212427d9b5e08b2166673c2860d709e
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = v2.2.0  
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
        branch = v3.17
