[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
	branch = v4.1.0
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = v2.2.0
