build
bench
.CMakeLists.txt.swp
*.swp
*.swo
res/scenes/chunks
res/scenes/editor/editor.rawscene
res/scenes/editor/dock/testpanel.rawscene
res/scenes/editor/dock/details.rawscene
res/scenes/editor/dock/object_details.rawscene
res/scenes/editor/dock/world_state.rawscene
res/scenes/editor/dock/object_tools.rawscene
res/scenes/editor/dock/scenegraph.rawscene
