[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp.git
	branch = v5.2.4
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
        branch = v3.25
